# 0. Import Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns   
import warnings
import plotly.express as px
import plotly.graph_objects as go

sns.set_theme(style="darkgrid")
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('data/FT1000_v1.csv')
df.head()

,Rank,Name,Ranked2021,Ranked2020,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Country1,Sector1
0,1,Swappie,No,No,Finland,Technology,477.43,97611814,507000,218,1,2016,Finland,Technology
1,2,Kilo Health,No,No,Lithuania,Health,450.05,57318766,344428,177,10,2013,Lithuania,Health
2,3,OCI,No,No,UK,Financial Services,409.59,568322073,4325512,32,4,2012,UK,Financial Services
3,4,OnlyFans,No,No,UK,Technology,393.63,316732986,2652185,800,4,2016,UK,Technology
4,5,Enpal,No,No,Germany,Energy,386.88,56109613,486165,365,9,2017,Germany,Energy

## 4.5. Câu hỏi 5
**Câu hỏi**: Mức tăng trưởng và doanh thu của các công ty theo số lượng nhân viên tại năm 2017 và năm thành lập

**Ý nghĩa**" Số lượng nhân viên xuất phát điểm tại năm 2017 là một yếu tố tác động đến mức độ tăng trưởng của công ty. Bên cạnh đó có thể kể đến năm thành lập. Để các nhà đầu tư có sự lựa chọn chính xác hơn trong việc đầu tư, ta sẽ phân tích sâu hơn về 2 yếu tố này